<div class="sidebar">
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let menu of menus"
      appHandleMenu
    >
      <a>
        <div class="d-flex justify-content-between">
          {{ menu.name }} <span *ngIf="menu.sub_modules.length"> > </span>
        </div>
        <ul class="list-group submenu hide">
          <li *ngFor="let submenu of menu.sub_modules" class="list-group-item">
            <a>{{ submenu.name }}</a>
          </li>
        </ul>
      </a>
    </li>
  </ul>
</div>
